li {
    display: inline;
    margin: 0px;
}

ul {
    margin-top: -25px;
    margin-left: -25px;
}

#board {
    text-align: center;
    padding: 25px;
    margin-bottom:  -25px;
}

.text {
    text-align: center;
    margin: auto;
    max-width: 500px;
    border-style: solid;
    padding: 15px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 10px;
}



.left {
    float: left;
}

.right {
    float: right;
}

h2 {
    text-align: center
}

.snake {
    background-color: #4ECDC4;
    color: #4ECDC4;
    display: inline-block;
    line-height: 11px;
}

.enemy {
    background-color: #394e70;
    color: #394e70;
    display: inline-block;
    line-height: 11px;
}

.space {
    background-color: #011627;
    color: #011627;
    display: inline-block;
    line-height: 11px;
}

.boundary {
    color: #20A4F3;
    background-color: #20A4F3;
    display: inline-block;
    line-height: 11px;
}

.food {
    color: #FF3366;
    background-color: #FF3366;
    content: '&#9829';
    display: inline-block;
    line-height: 11px;
}


#startBtn {
    border-color: #4CAF50;
    color: green;
    width: 100%;
    height: 50px;
    font-size: 1em;
}

#startBtn:hover {
    background-color: #4CAF50;
    color: white;
}

#startBtn:disabled {
    background-color: rgb(201, 201, 201);
    border-color: rgb(201, 201, 201);
    color: white;
}

#stopBtn {
    border-color: #f44336;
    color: red;
    width: 100%;
}

#stopBtn:hover {
    background: #f44336;
    color: white;
}

.snakeHappy{
    display:block;
    background-color: #4ECDC4;
    color: #F7FFF7;
    border-left : 5px solid #799b9a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    height: 50px;

}

.snakeSad{
    display:block;
    background-color: #FF6B6B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-left : 5px solid #ff3a4d;
    padding: 5px;
    height: 50px;

    color: #F7FFF7;
}