<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

    <title>Llama or Alpaca</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src='modules/defaultGameSettings.js' defer></script>

    <script type="module" src='script.js' defer></script>
    <link rel="stylesheet" href="styles.css">

</head>

<body id="main-page">
    <div class="container" id="app" v-cloak>
        <div class="card" id="main-card">
            <!-- Introduction content -->
            <div v-if="currentGameStage === 'intro'" id="intro-content">
                <div class="card-body">

                    <h1 class="display-4">Alpacan Mingle</h1>
                    <p class="card-text">Dating website from Alpaca to Alpaca</p>

                    <!-- Select profile picture -->
                    <div id="profile-pic-selection" class="container">
                        <div class="row justify-content-center">
                            <p>Which one of these is the most <i>you</i>?</p>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3" v-for='(pictureInfo, index) in playerInfo.picturesAvailable'>
                                <img :src="pictureInfo.img" width="300" height="300" class="rounded mx-auto d-block img-thumbnail"
                                    :class="{'character-unselected' : playerInfo.selectedPictureIdx === null || playerInfo.selectedPictureIdx !== index}"
                                    @click="selectProfilePicture(index)">
                            </div>
                        </div>
                        <div class="row justify-content-center" v-if="playerInfo.selectedPictureIdx !==null">
                            <p class="text-muted">{{playerInfo.picturesAvailable[playerInfo.selectedPictureIdx].comment}}</p>
                        </div>
                    </div>

                    <!-- Pick a name -->
                    <div id="text-input" class="container" v-if="playerInfo.selectedPictureIdx !== null">
                        <div class="row justify-content-center">
                            <div class="col-md-4 mb-3">
                                <input type="
                                                text" class="form-control"
                                    :class="{'is-valid' : playerInfo.validName, 'is-invalid' : playerInfo.name !== null && playerInfo.validName !== null && !playerInfo.validName}"
                                    id="username" placeholder="Give yourself a name" v-model='playerInfo.name' @keyup=validateName(playerInfo.name)>
                                <div class="valid-feedback">
                                    Hot name. Now select your gender.
                                    <select class="custom-select" id="inputGroupSelect02" v-model="playerInfo.selectedGender">
                                        <option selected>Choose gender...</option>
                                        <option v-for="gender in playerInfo.genders" :value=gender @click="alert(gender)">{{gender}}</option>
                                    </select>
                                    <p>We want to stay Politically Correct. <a href="https://abcnews.go.com/blogs/headlines/2014/02/heres-a-list-of-58-gender-options-for-facebook-users"
                                            target="_blank">Source</a></p>
                                </div>
                                <div class="invalid-feedback">
                                    Can't read this.. must be just alphabets and not too long please..
                                </div>
                                <button v-if="playerInfo.selectedGender" @click="activateModalHandler" type="button"
                                    class="btn btn-primary">Hot. Let's go find you the love of your life.</button>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div v-if=playerInfo.modal.show>
                        <div class="modal-backdrop show fade"></div>
                        <div class="modal show in" id="playerModal" tabindex="-1" role="dialog" aria-hidden="true"
                            style="display:block;">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{playerInfo.modal.title}}</h5>
                                        <button type="button" class="close" @click="dismissModalHandler" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <p>{{playerInfo.modal.text}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" @click="dismissModalHandler">{{playerInfo.modal.disagree}}</button>
                                        <button type="button" class="btn btn-primary" @click="goToNextGameStage">{{playerInfo.modal.agree}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div v-else-if="currentGameStage === 'home'">
                <div class="card-body">

                    <h1 class="display-4">Welcome, {{playerInfo.name}}.</h1>
                    <h4 class="text-muted">You look like someone who could use a pretty alpaca...</h4>

                    <div class="alert alert-danger" role="alert" v-if="!homeInfo.testPassed">
                        According to our data, you haven't taken the <strong>Llama or Alpaca</strong> test yet. Click
                        <a href="#" @click="activateModalHandler">here</a> to get more information.
                    </div>

                    <div class="card-deck">
                        <div class="card border-secondary" v-for="(profile, index) in homeInfo.profiles">
                            <img :src="profile.img" width="300" height="300" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{profile.name}}</h5>
                                <p class="card-text">{{profile.comment}}</p>
                                <div v-if="!homeInfo.testPassed">
                                    <a href="#" class="btn btn-primary" @click="activateModalHandler">Chat with me!</a>
                                </div>
                                <div v-else>
                                    <a href="#" class="btn btn-primary" @click="journeyEndHandler">Chat with me!</a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{profile.distance}} alpaca distances away</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row card-footer text-muted">
                    <div class="col-sm" v-for="article in homeInfo.articles">
                        <img :src=article.img width=200 class="img-thumbnail">
                        <h5>{{article.title}}</h5>
                        <a :href=article.action target="_blank">View article</a>
                    </div>
                </div>

                <!-- Modal -->
                <div v-if=homeInfo.modal.show>
                    <div class="modal-backdrop show fade"></div>
                    <div class="modal show in" id="homeInfoModal" tabindex="-1" role="dialog" aria-hidden="true" style="display:block;">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">{{homeInfo.modal.title}}</h5>
                                    <button type="button" class="close" @click="dismissModalHandler" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <p>{{homeInfo.modal.text}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" @click="dismissModalHandler">{{homeInfo.modal.disagree}}</button>
                                    <button type="button" class="btn btn-primary" @click="goToNextGameStage">{{homeInfo.modal.agree}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div v-else-if="currentGameStage === 'game'">
                <div class="card-body">
                    <h1 class="display-4"> Llama or Alpaca Test</h1>
                    <h4 class="text-muted">Because we can't deal with Llamas. They're Llaaaaame (hehe)</h4>
                    <div v-if="gameInfo.currentIndex === null">
                        <p>
                            You will be presented with a profile of an existing user. You will need to be able to
                            determine if they are a Llama or Alpaca based on their profile. You will need an accuracy
                            of 70% (which is pretty low, so you should be able to do this if you're a real Alpaca.. or
                            Alpaca lover.)
                        </p>
                        <a href="#" @click="gameBeginHandler" class="btn btn-primary">Start the test that will
                            determine the rest of your life</a>
                    </div>
                    <div id="profile-pic-selection" class="container" v-if="gameInfo.currentIndex !== null">
                        <div class="row justify-content-center">
                            <h1 class="display-4">question {{gameInfo.doneIndexes.size}} of {{gameInfo.maxChoices}}
                            </h1>
                        </div>
                        <div class="row justify-content-center">
                            <div class="card border-secondary" style="width: 18rem;">
                                <img :src="gameInfo.choices[gameInfo.currentIndex].url" class="card-img-top" width="300"
                                    height="300">
                                <div class="card-body">
                                    <h5 class="card-title">{{gameInfo.choices[gameInfo.currentIndex].title}}</h5>
                                    <p class="card-text">{{gameInfo.choices[gameInfo.currentIndex].description}}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" v-for="hint in gameInfo.choices[gameInfo.currentIndex].hints">{{hint}}</li>
                                </ul>
                                <div class="card-body">
                                    <a href="#" @click="chooseHandler('llamas')" @keyup.37="chooseHandler('llamas')"
                                        class="card-link">Llama</a>
                                    <a href="#" @click="chooseHandler('alpacas')" @keyup.39="chooseHandler('alpacas')"
                                        class="card-link">Alpaca</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div v-if="gameInfo.modal">
                    <div class="modal-backdrop show fade"></div>
                    <div class="modal show in" id="winModal" tabindex="-1" role="dialog" aria-hidden="true" style="display:block;">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">{{gameInfo.modal.title}}</h5>
                                </div>
                                <div class="modal-body text-center">
                                    <p>{{gameInfo.modal.text}}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" @click="dismissModalHandler">{{gameInfo.modal.disagree}}</button>
                                    <button type="button" class="btn btn-primary" @click="testPassedHandler" v-if="gameInfo.modal.agree">{{gameInfo.modal.agree}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else-if="currentGameStage === 'end'">
                <div class="card-body">
                    <h4>The journey ends here. Thanks for playing.</h4>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>