<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

    <title>Llama or Alpaca</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src='script.js' defer></script>
    <link rel="stylesheet" href="styles.css">

</head>

<body id="main-page">
    <div class="container" id="app" v-cloak>

        <!-- Introduction content -->
        <div v-if="currentGameStage === 'intro'" id="intro-content">
            <div class="card">
                <div class="card-body">
                    <h1 class="display-4">Alpacal♥ve</h1>
                    <p class="
                                        card-text">Dating website from alpaca to alpaca</p>

                    <!-- Select profile picture -->
                    <div id="profile-pic-selection" class="container">
                        <div class="row justify-content-center">
                            <p>Which one of these is the most <i>you</i>?</p>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-3" v-for='(pictureInfo, index) in playerInfo.picturesAvailable'>
                                <img :src="pictureInfo.img" class="rounded mx-auto d-block img-thumbnail" :class="{
                                    'character-unselected' : playerInfo.selectedPictureIdx === null || playerInfo.selectedPictureIdx !== index
                                }"
                                    @click="selectProfilePicture(index)">
                            </div>
                        </div>
                        <div class="row justify-content-center" v-if="playerInfo.selectedPictureIdx !==null">
                            <p>{{playerInfo.picturesAvailable[playerInfo.selectedPictureIdx].comment}}</p>
                        </div>
                    </div>

                    <!-- Pick a name -->
                    <div id="text-input" class="container" v-if="playerInfo.selectedPictureIdx !== null">
                        <div class="row justify-content-center">
                            <div class="col-md-4 mb-3">
                                <input type="
                                                text" class="form-control"
                                    :class="{'is-valid' : playerInfo.validName, 'is-invalid' : playerInfo.name !== null && !playerInfo.validName}"
                                    id="username" placeholder="Give yourself a name" v-model='playerInfo.name' @keyup=validateName(playerInfo.name)>
                                <div class="valid-feedback">
                                    <button @click="goToNextGameStage" type="button" class="btn btn-light">Hot name.
                                        Let's go find you the love of your life.</button>
                                </div>
                                <div class="invalid-feedback">
                                    Can't read this.. must be just alphabets and not too long please..
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-else-if="currentGameStage === 'chat'">
            <div class="card">
                <div class="card-body">
                    chat
                </div>
            </div>
        </div>

        <div v-else-if="game">game</div>
        <div v-else-if="win">win</div>
        <div v-else-if="lose">lose</div>

    </div>
</body>

</html>