[v-cloak] {
    display: none;
}

#main-page {
    background-color: #FF7E6B;
    color: #1A535C;
}

#app {
    margin: auto;
}

.character-unselected {
    opacity: 0.5;
}

.character-unselected:hover {
    opacity: 1;
}