<div class="card">
    <div class="card-body">
        <h1 class="display-4">Alpacal♥ve</h1>
        <p class="
                    card-text">Dating website from alpaca to alpaca</p>

        <!-- Select profile picture -->
        <div id="profile-pic-selection" class="container">
            <div class="row justify-content-center">
                <p>Which one of these is the most <i>you</i>?</p>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3" v-for='(pictureInfo, index) in playerInfo.picturesAvailable'>
                    <img :src="pictureInfo.img" class="rounded mx-auto d-block img-thumbnail characterSelectImg" @click="selectProfilePicture(index)">
                </div>
            </div>
            <div class="row justify-content-center" v-if="playerInfo.selectedPictureIdx !==null">
                <p>{{playerInfo.picturesAvailable[playerInfo.selectedPictureIdx].comment}}</p>
            </div>
        </div>

        <!-- Pick a name -->
        <div id="text-input" class="container" v-if="playerInfo.selectedPictureIdx !== null">
            <div class="row justify-content-center">
                <div class="col-md-4 mb-3">
                    <input type="
                            text" class="form-control" :class="{'is-valid' : playerInfo.validName, 'is-invalid' : playerInfo.name !== null && !playerInfo.validName}"
                        id="username" placeholder="Give yourself a name" v-model='playerInfo.name' @keyup=validateName(playerInfo.name)>
                    <div class="valid-feedback">
                        <button @click="goToNextGameStage" type="button" class="btn btn-light">Hot name.
                            Let's go find you the love of your life.</button>
                    </div>
                    <div class="invalid-feedback">
                        Can't read this.. must be just alphabets and not too long please..
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>